<h1>Editing server</h1>
<% if admin_signed_in? %>
<%= render 'form' %>
<% else %>
<h1>Nice try. Go back to the list now. Shoo!</h1>
<% end %>
<%= link_to 'Show', @server %> |
<%= link_to 'Back', servers_path %>
