
<center>
<h1>Servers</h1>
<a href="#bottom">View Newest</a>
<br>
<table>
  <tr>
    <th>Server Name</th>
    <th>IP</th>
    <th>Description</th>
    <% if admin_signed_in? %>
    <th>Moderator Comments</th>
    <% else %>
    <% end %>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= truncate(server.title, :length => 25) %></td>
    <td><%= server.ip %></td>
    <td><%= truncate(server.description, :length => 75) %></td>
    <% if admin_signed_in? %>
    <td><%= server.modcomments %></td>
    <% else %>
    <% end %>
     
    <td><%= link_to 'More', server %></td>
    <% if admin_signed_in? %>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    <% else %>
    <% end %>
  </tr>
<% end %>
</table>
<p id="bottom"></p>
<br />
</center>

