<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @server.title %>
</p>

<p>
  <b>IP:</b>
  <%= @server.ip %>
</p>
  <b>Description:</b>
  <%= @server.description %>
</p>
<% if admin_signed_in? %>
<p>
  <b>Moderator Comments:</b>
  <%= @server.modcomments %>
</p>
<% else %>
<% end %>
<p>
<label>Status</label>
<iframe seamless src="http://soocialize.net/server/s.php?ip=<%= @server.ip %>">
<p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
